@import '../../constatnts.css';


.toggle-container{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    justify-content: space-between;
    user-select: none;
}

.toggle-container::before{
    content: '';
    position:absolute;
    display: block;
    height: 15px;
    width: 40px;
    border-radius: 5px;
    background-color: rgb(219, 224, 222);
    top:11.5px;
    z-index: -1;
    left: -18px;
}

.toggle-container>*{
    padding: 5px;
}

.toggle-container>svg{
    width: 20px;
}

.toggle-text{
    width: 80px;
}